/* styles.css */
.bar {
  background-color: #f6f6fb;
  display: flex;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px !important;
  margin-left: 0;
  overflow: hidden;
}
.bar p,
.bar {
  margin-top: 10px !important;
}

.button-container {
  background-color: #f6f6fb;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 10px;
  width: 95%;

}
.content-box {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-top: 10px !important;
}

.text {
  display: flex;
  gap: 6px;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  text-align: center;
}

.bar-container {
  background-color: #f6f6fb;
  display: flex;
  border-radius: 8px;
  padding: 10px;
  flex: 1;
  overflow: scroll;
    min-width: 150px;
}

.bar-decision {
  background-color: #f6f6fb;
  display: flex;
  border-radius: 8px;
}
.column {
  flex: 1;
  background-color: white;
  border-radius: 8px;
  padding: 26px;
  margin: 14px 14px !important;
  display: flex;
  align-items: center;

  min-width: 200px;
  max-height: 136px;
}

.first-column {
  flex: 2;
}

.bio-data-name {
  font-weight: bold;
}
.bio-data-stage-name {
  font-weight: bold;
}
.bio-data-designation {
  margin-top: 10px;
}
.bio-data-stage {
  margin-top: 10px;
}

#myProgress {
  background-color: #cecdee;
  border: none;
  border-radius: 5px;
  height: 40px;
  position: relative;
  outline: '1px solid black';
}

#myProgress::-webkit-progress-bar {
  background-color: #cecdee;
  border-radius: 5px;
  border: 1px solid #000;
  border-bottom: 3px solid black;
}

#myProgress::-webkit-progress-value {
  background-color: #6462f1;
  border-radius: 0px 4px 4px 0px;
}

#myProgress::-moz-progress-bar {
  background-color: #6462f1;
  border-radius: 8px;
  border: 1px solid #000;
}

#myProgress::-ms-fill {
  background-color: #cecdee;
  border-radius: 8px;
}

.positiveSentimentIcon {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  color: #dbfddc !important;
  margin-right: 5px;
}

.negativeSentimentIcon {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  color: #fddbdb !important;
  margin-right: 5px;
}
.sentiment-meta {
  color: #121212;
  opacity: 0.5;
}
.sentiment-type {
  font-weight: bold !important;
}

.rightTabs {
  justify-content: center;
}

.video-player-wrapper {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin-left: -20px;
}

.video-player-wrapper .video-player-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tab-content {
  background-color: #f6f6fb;
  padding: 20px;
  border-radius: 8px;
  margin-top: 30px;
}
